<div class="devise-container">
  <div class="form-container">
    <h2 class="h2">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :メールアドレス, class: "lebel" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード, class: "level" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field -checkbox">
      <%= f.check_box :remember_me, class: "-checkbox" %>
      <%= f.label :パスワードを保存する %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

  <div class="link-container">
    <%= render "devise/shared/links" %>
  </div>
 </div>
</div>