<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto post-form-container">
      <h2>投稿画面</h2>
      <%= form_with(url: create_post_path, local: true, method: :post, html: { class:'post-form' } ) do |f| %>
      
       <div class="form-group">
           <%= f.label "タイトル", class: 'form-label' %>
           <%= f.text_field :title, class: 'form-control' %>
       </div>
       
       <div class="form-group">
           <%= f.label "本文", class: 'form-label' %>
           <%= f.text_area :body, class: 'form-control' %>
       </div>
       
       <div class="form-group image-upload">
            <%= f.label "画像", class: 'form-label' %>
            <div class="image-preview" id="imagePreview">
                <img src="" alt="Image Preview" class="image-preview_image">
                <span class="image-preview_default-text">Image will be displayed here</span>
            </div>
            <%= f.file_field :image, class: 'form-control-file', id= 'imageUpload' %>
       </div>
       
       <div class="button-group">
           <%= f.submit "投稿する", class: 'btn btn-primary' %>
       </div>
     <& end %>
    </div>
  </div>
</div>