<!DOCTYPE html>
<html lang="ja">
  <head>

    <title>SNS App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
 
    <script src="<%= mix('/js/bootstrap.js') %>"></script>
    
    <script src="<%= mix('/js/turbo.js') %>"></script>
  </head>

  <body>
    <div class="main-container">
    
      <nav class="custom-navbar">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            
            <% if user_signed_in? %>
              <!--ログインしている場合に表示されます-->
              <!--user_signed_in?はdeviceが提供している認証済みかを判定するメソッドです-->
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "nav-link" %>
            </li>
            
            <li>
              <%= link_to "投稿一覧", "/", class: "nav-link" %>
            </li>
            
            <li>
              <%= link_to "新規投稿", new_post_path, class: "new-link" %>
            </li>
          <% else %>
              <!--ログインしていない場合に表示されます-->
              <!--else以降は前述のif文の否定になります-->  
              
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            
             <li>
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
              
          </ul>
        </div>
      </nav>

      <!-- アラートメッセージ -->
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <div class="bg-white text-dark">
        <%= yield %>
      </div>
    </div>

    <!-- Javascript追加 -->
    <script src="<%= mix('/js/app.js') %>"></script>
  </body>
</html>